.header {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 26px 0 26px 0;
    margin-bottom: 52px;

.ellipse{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #D9D9D9;
}
&__img {
 }
&__text {
     font-family: lato-regular, sans-serif;
     font-size: 18px;
     line-height: 22px;
 }
}
