@import "fonts.css";
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: backgraund 0.2s ease-in;
}
.modal-overlay .modal-window {
  width: 500px;
  border-radius: 5px;
  background-color: #fff;
  height: 150px;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}
.modal-overlay .modal-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.modal-overlay .modal-window__header h2 {
  font-size: 24px;
  margin: 0;
}
.modal-overlay .modal-window__header .modal__close {
  color: black;
  cursor: pointer;
}
.modal-overlay .modal-window__body .modal__text {
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.modal-overlay .modal-window__footer {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.modal-overlay .modal-window__footer .modal__button {
  font-size: 16px;
  color: black;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-overlay .modal-window__footer .modal__button--no {
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
}
.modal-overlay .modal-window__footer .modal__button--yes {
  padding: 10px 16px 10px 16px;
}

.modal.open .modal-overlay,
.modal.open .modal-window {
  z-index: 1000;
  opacity: 1;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window {
  z-index: 1000;
  opacity: 1;
}

.modal.open .modal-window {
  transform: translateY(200px);
}

.modal-window,
.modal-overlay {
  z-index: -1;
  opacity: 0;
}

.modal.hide .modal-window {
  transform: translateY(-200px);
}

.modal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.header {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 26px 0 26px 0;
  margin-bottom: 52px;
}
.header .ellipse {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #d9d9d9;
}
.header__text {
  font-family: lato-regular, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.todo__header {
  display: flex;
  gap: 450px;
  margin-bottom: 26px;
}
.todo__header .title {
  font-family: "lato-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 50px;
}
.todo__header .action {
  font-family: "lato-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.todo .tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo .tasks .task {
  display: flex;
  align-items: center;
}
.todo .tasks .task__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 2.5em;
}
.todo .tasks .task__checkbox {
  appearance: none;
  position: absolute;
}
.todo .tasks .task .checkbox {
  display: block;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  position: absolute;
  margin-left: -2.5em;
}
.todo .tasks .task__checkbox:checked + .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4f46e5;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
}
.todo .tasks .task__checkbox:focus + .checkbox {
  border: 2px solid #4f46e5;
}
.todo .tasks .task .task__text {
  font-family: "lato-regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 500px;
}
.todo .tasks .task__img {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}
.todo .tasks .task__img--pen {
  cursor: pointer;
}
.todo .tasks .task__img--pannier {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body .text__header {
  font-family: "lato-bold", sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  margin-bottom: 32px;
}
.body__inputs {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.body__input {
  width: 499px;
  height: 44px;
  background-color: #f3f3f3;
  padding-left: 27px;
  border-radius: 8px;
  font-family: "lato-regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.body__input-button {
  width: 100px;
  height: 44px;
  font-family: "lato-regular", sans-serif;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
